* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    background-color: rgb(171, 235, 182);
    
}

#opciones button {
    margin: 10px;
    padding: 15px;
    font-size: 18px;
    background-color: rgb(5, 40, 236);  
    border-radius: 37%; 

}

#resultado {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#resultado div {
    margin: 0 20px; 
    text-align: center; 
}

#resultado img {
    display: none; 
    margin-top: 10px;
}

#marcador {
    margin-top: 30px;
}

#marcador p {
    font-size: 20px;
}
